Abdallah Alhamedi <aalh@itu.dk> Abiated <alhamediabdallah2006@gmail.com>
Frederik Nordentoft <fnor@itu.dk> <125463716+FranmanV2@users.noreply.github.com>
Eskild Kristiansen <eskk@itu.dk> <eskild.kristiansen158@gmail.com>
Markus Wu <mwuu@itu.dk> Tagrende <markus37501@gmail.com>
Markus Wu <mwuu@itu.dk> Tagrende <120174946+Tagrende@users.noreply.github.com>